<div class="mt-4">
  <form method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Từ khoá</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Enter keywords..."
      />  
    </div>
    <div class="mb-3">
      <label for="search-input" class="form-label">Từ khoá</label>
      <select
        name="gender"
        type="text"
        class="form-control"
        id="search-input"
      >
      <option value=""> -- Chọn giới tính -- </option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>